<% include ./partials/header.ejs %>


<h1>Item Show</h1>


<% getResults.result.forEach((get) =>{ %>



	<% if (get.material_id == itemId){ %>


		<%= get.description %>


		<%= get.long_description %>


		<form action="/lookupMaterial" method="post">
			<input type="hidden" name="material_id" value="<%= get.material_id %>">

			<label>Check where to recycle </label>
			<input type="text" name="zip" placeholder="Zip Code">
			<input type="submit" name="submit">

		</form>	
		


		<form action="/item/<%=get.material_id%>?_method=PUT" method="post">


			<input type="hidden" name="material_id" value="<%= get.material_id %>">

			<input type="hidden" name="description" value="<%= get.description %>">

			<input type="hidden" name="long_description" value="<%= get.long_description %>">



			<input type="submit" name="submit">
		</form>



	<% } %>


<% }); %>


<% include ./partials/footer.ejs %>